@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
    font-family: 'Lexend Deca', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }


  .bg-header { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1481%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsRadialGradient1482)'%3e%3c/rect%3e%3cpath d='M207.32302573018703 430.04189653053635L302.19741824931117 722.0352524861476 594.1907742049225 627.1608599670235 499.3163816857983 335.1675040114122z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M877.5580011340719 467.60780923391013L718.8200156345772 419.07673675377464 670.2889431544417 577.8147222532695 829.0269286539365 626.3457947334049z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M609.3291440947432 834.5450245500552L444.35535298856126 808.4157429774856 418.22607141599167 973.3895340836676 583.1998625221736 999.5188156562372z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M769.2814937083715 744.8050797193872L986.9233656107338 721.9299972112991 964.0482831026458 504.28812530893686 746.4064112002834 527.1632078170248z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M443.887%2c144.977C482.035%2c144.206%2c518.285%2c126.066%2c537.121%2c92.884C555.734%2c60.095%2c552.098%2c20.116%2c533.329%2c-12.584C514.469%2c-45.442%2c481.773%2c-69.439%2c443.887%2c-69.554C405.82%2c-69.669%2c373.115%2c-45.754%2c353.502%2c-13.129C333.192%2c20.656%2c324.322%2c62.567%2c343.886%2c96.79C363.568%2c131.219%2c404.237%2c145.779%2c443.887%2c144.977' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1634.641%2c915.997C1713.754%2c911.591%2c1788.324%2c876.627%2c1828.56%2c808.367C1869.425%2c739.04%2c1872.045%2c652.258%2c1830.852%2c583.125C1790.561%2c515.507%2c1713.235%2c487.235%2c1634.641%2c482.918C1545.655%2c478.03%2c1446.962%2c485.39%2c1397.173%2c559.305C1342.689%2c640.19%2c1345.272%2c751.093%2c1399.317%2c832.272C1448.769%2c906.552%2c1545.543%2c920.959%2c1634.641%2c915.997' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1332.7573264529447 360.13914036824633L1509.6427076575728 107.5206357790372 1257.0242030683637-69.36474542559108 1080.1388218637355 183.25375916361807z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-20.430894073382603 637.4605681293963L282.22419152828644 690.8268255696005 335.59044896849065 388.17173996793144 32.9353633668216 334.80548252772724z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1530.2235746475383 1156.1388981160592L1697.5726732031123 1182.6443914295994 1724.0781665166528 1015.2952928740253 1556.7290679610785 988.789799560485z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1683.76%2c309.293C1715.503%2c308.081%2c1741.114%2c286.001%2c1756.555%2c258.24C1771.512%2c231.349%2c1776.499%2c198.17%2c1760.026%2c172.18C1744.435%2c147.581%2c1712.883%2c143.096%2c1683.76%2c143.388C1655.305%2c143.673%2c1626.225%2c150.238%2c1610.097%2c173.682C1591.671%2c200.467%2c1585.14%2c235.622%2c1600.658%2c264.19C1616.782%2c293.873%2c1650.005%2c310.582%2c1683.76%2c309.293' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1168.7316247149902 291.54960533566884L953.3852372557803 378.31655450625817 1111.1089195056122 506.03867404889485z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1481'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='1101.45' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1482'%3e%3cstop stop-color='rgba(15%2c 32%2c 39%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(17%2c 24%2c 40%2c 1)' offset='0'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }